[Desktop Entry]
Name=Gridix
Comment=A simple database manager written in Rust
Exec=gridix
Icon=gridix
Type=Application
Categories=Development;Utility;
